<mat-card class="pedido-detalle" [ngStyle]="{'max-height': screenHeight + 'px'}">
  <app-pedido-detalle-tipo></app-pedido-detalle-tipo>
  <mat-card-content>
    <app-pedido-detalle-items></app-pedido-detalle-items>
    <app-pedido-detalle-totales></app-pedido-detalle-totales>
  </mat-card-content>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-sm-4" [ngStyle]="{'color': 'red'}">
          <button mat-icon-button (click)="deletePedido()">
            <mat-icon>delete_forever</mat-icon>
          </button>
      </div>
      <div class="col-sm-8" [ngStyle]="{'text-align': 'right'}">
        <button mat-raised-button color="primary">PAGAR</button>
      </div>
    </div>
  </div>
</mat-card>