@import '../../../variables.scss';

.pedido-detalle {
  min-height: 100%;
  padding: 1em 0%;
}

mat-grid-tile {
  color: white;
  background-color: $secondary-color;
}

mat-grid-tile:hover {
  cursor: pointer;
  background-color: $thirt-color;
}

.active {
  background-color: $primary-color;
}