@import 'src/variables';

.pedido-detalle-caja-item{
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 1px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
}

.pedido-detalle-caja-item:hover{
  background-color: $secondary-color;
  color: white;
}

.active {
  background-color: $primary-color;
  color: white;
}