<mat-card>
  <img src="assets/logo-productos.png" width=72 [ngStyle]="{display: 'block'}" class="mx-auto" />
  <form [formGroup]="formGroup">
    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre" [formControl]="nombre">
      <mat-error *ngIf="nombre.invalid">{{getErrorMessage("nombre")}}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <input matInput placeholder="Código" (change)="onValidate()">
      <mat-error *ngIf="codigo.invalid">{{getErrorMessage("codigo")}}</mat-error>
    </mat-form-field>
  
    <div class="upload-image-big" (click)="fileInput.click()" [ngStyle]="{'background-image': 'url(https://media.restaurantetic.com/files/' + (producto.imagen || '201903130002.png') + ')', 'background-size': (producto.imagen ? 'cover' : '')}">
      <input type="file" [ngStyle]="{display: 'none'}" #fileInput (change)="onUploadPicture($event.srcElement.files[0])">
    </div>
    <mat-error *ngIf="imagen.invalid">{{getErrorMessage("imagen")}}</mat-error>
    
    
    <mat-form-field class="full-width">
      <textarea matInput cdkTextareaAutosize placeholder="Ingredientes" [formControl]="ingredientes"></textarea>
      <mat-error *ngIf="ingredientes.invalid">{{getErrorMessage("ingredientes")}}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <textarea matInput cdkTextareaAutosize placeholder="Descripción" [formControl]="descripcion"></textarea>
      <mat-error *ngIf="descripcion.invalid">{{getErrorMessage("descripcion")}}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <input matInput currencyMask [options]="{precision: 0, allowNegative: false}" placeholder="Precio" [formControl]="precio">
      <mat-error *ngIf="precio.invalid">{{getErrorMessage("precio")}}</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onConfirmar($event)" [disabled]="">Confirmar</button>
    <button mat-raised-button color="warn" class="ml-2" (click)="onCancelar()">Cancelar</button>
  </form>
</mat-card>
