.producto-header-image {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  vertical-align: middle;
  display: inline-block
}

.producto-dialog-body {
  text-align: left; 
  min-height: 320px; 
  max-height: 320px; 
  margin-bottom: 12px;
}

.input-nombre {
  width: 80%;
  margin-left: 12px;
}

.full-width {
  width: 100%;
}

.upload-image-big {
  min-width: 100%;
  min-height: 192px;
  background-image: url("https://media.restaurantetic.com/files/201903130002.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-style: dashed;
  border-width: 1px;
  border-radius: 12px;
  border-color: darkgrey;
  margin-bottom: 12px;
}
