<perfect-scrollbar>
  <div class="container-fluid">
    <div class="row no-guters">
      <div class="col-12 col-xl-4 mx-auto">
        <mat-card class="my-2">
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-12">
                <img src="assets/logo-user.png" width=72 [ngStyle]="{display: 'block'}" class="mx-auto" />
              </div>
              <div class="col-12">
                <mat-form-field class="w-100 mt-2">
                  <input matInput placeholder="Usuario" [formControl]="username">
                  <mat-error *ngIf="username.invalid">{{getMessageError("username")}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Contraseña" type="password" [formControl]="password">
                  <mat-error *ngIf="password.invalid">{{getMessageError("password")}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Repetir Contraseña" type="password" [formControl]="passwordRep">
                  <mat-error *ngIf="passwordRep.invalid">{{getMessageError("passwordRep")}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100">
                  <mat-label>Roles</mat-label>
                  <mat-select multiple [formControl]="roles">
                    <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="roles.invalid">{{getMessageError("roles")}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Nombre" [formControl]="nombre">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Teléfono" [formControl]="telefono">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email" [formControl]="email">
                </mat-form-field>
              </div>
              <div class="col-12">
                <button mat-raised-button color="primary" (click)="onGuardar()">GUARDAR</button>
                <button mat-raised-button color="warn" class="ml-2" (click)="onCancelar()">CANCELAR</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row no-gutters" *ngIf="false">
      <div class="col-12">
        <mat-card>
          <table class="table">
            <thead>
              <tr>
                <th>Usuario</th><th>Roles</th><th>Nombre</th><th>Teléfono</th><th>Email</th><th>Acciones</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>
</perfect-scrollbar>
