<mat-list-item class="pedido-item-detalle">
  <div class="container-fluid" [ngStyle]="{'padding': '0'}">
    <div class="row no-gutters">
      <div class="col-sm-4" [ngStyle]="{'font-size': '12px'}">
        <input class="producto-numero" [value]="item.numero" readonly>). {{item.producto.codigo}}
      </div>
      <div class="col-sm-4" [ngStyle]="{'text-align': 'right', 'font-size': '12px'}">
        <input class="producto-cantidad" [(ngModel)]="item.cantidad" (change)="onActualizarCantidad()"> x 
        <p [ngStyle]="{'width': '45%', 'display': 'inline-block', 'text-align': 'right'}">{{item.precioUnitario | currency: 'USD' : 'symbol' : '1.0'}}</p>
      </div>
      <div class="col-sm-4" [ngStyle]="{'text-align': 'right', 'font-size': '14px'}">{{item.precioTotal | currency: 'USD' : 'symbol' : '1.0'}}</div>
    </div>
  </div>
</mat-list-item>