.sidebar {
    height: 100%;
    width: 48px;  /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding-top: 48px;
}
