<mat-card class="producto-card">
  <mat-card-header>
    <div mat-card-avatar class="producto-header-image" [ngStyle]="{'background-image': producto.imageTitle}"></div>
    <div>
      <mat-form-field class="producto-nombre-field">
        <input matInput placeholder="Nombre" [(ngModel)]="producto.nombre" >
      </mat-form-field>
      <mat-form-field class="producto-codigo-field">
        <input matInput placeholder="Código" [(ngModel)]="producto.codigo">
      </mat-form-field>
    </div>
  </mat-card-header>
  <img mat-card-image class="producto-image-banner" [ngStyle]="{'background-image': producto.imageBanner}">
  <mat-card-content>
    <mat-form-field class="producto-descripcion-field">
      <textarea matInput placeholder="Descripción" [(ngModel)]="producto.descripcion"></textarea>
    </mat-form-field>
    <mat-form-field class="producto-ingredientes-field">
      <textarea matInput placeholder="Ingredientes" [(ngModel)]="producto.ingredientes"></textarea>
    </mat-form-field>
    <mat-form-field class="producto-precio-field">
      <input matInput placeholder="Precio" [(ngModel)]="producto.precio">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onGuardar($event)">GUARDAR</button>
    <button mat-raised-button color="warn" (click)="onCancelar($event)">CANCELAR</button>
  </mat-card-actions>
</mat-card>
