<div class="container-fluid" [ngStyle]="{'max-height.px': height, 'min-height.px': height}">
  <div class="row no-gutters justify-content-center" [ngStyle]="{'max-height.px': height, 'min-height.px': height}">
    <div class="d-flex col-sm-12 align-self-center justify-content-center">
      <button mat-raised-button color="primary" 
        [ngStyle]="{'margin-top': '6px', 'margin-bottom': '6px'}" 
        (click)="onCreatePedido()">NUEVO</button>
    </div>
    <div class="col-sm-12">
      <perfect-scrollbar [ngStyle]="{'max-height.px': height - 48, 'min-height.px': height - 48, 'height.px': height - 48}">
        <mat-list>
          <div *ngFor="let localPedido of pedidos">
            <mat-list-item class="pedido-detalle-caja-item" (click)="onChangePedido(localPedido)" [ngClass]="{'active': (pedido ? localPedido.codigo === pedido.codigo : false)}">{{localPedido.codigo}}</mat-list-item>
          </div>
        </mat-list>
      </perfect-scrollbar>
    </div>
  </div>
</div>

