<div class="container">
  <div class="row no-gutters justify-content-beetwen" *ngIf="productos.length > 0">
    <div class="col-sm-3 col-md-3" *ngFor="let producto of productos">
      <app-productoitem [producto]="producto"></app-productoitem>
    </div>
  
    <div class="row no-gutters justify-content-center" *ngIf="productos.length == 0">
      <div class="d-flex col-sm-12 col-md-6 align-self-center justify-content-center">
        <button mat-raised-button color="primary">AGREGAR</button>
      </div>
    </div>
  </div>
</div>

