<mat-card class="producto-card">
  <mat-card-header>
    <div mat-card-avatar class="producto-header-image"></div>
    <mat-card-title><b>{{nombre}}</b></mat-card-title>
    <mat-card-subtitle>{{codigo}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <label class="producto-label" style="display: block"><b>Descripción</b></label>
    <label class="producto-label" style="display: block">{{descripcion}}</label>  
    <label class="producto-label" style="display: block"><b>Ingredientes</b></label>
    <ul style="display: inline-block; margin-right: 12px; padding-left: 25px">
      <li *ngFor="let ingrediente of ingredientesCol1">{{ingrediente}}</li>
    </ul>
    <ul style="display: inline-block;vertical-align: top">
      <li *ngFor="let ingrediente of ingredientesCol2">{{ingrediente}}</li>
    </ul>
    <label class="producto-label" style="display: block;text-align: center"><b>Precio:</b> ${{precio}}</label>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onEdit($event)">EDITAR</button>
      <button mat-raised-button color="warn" (click)="onEliminar($event)">ELIMINAR</button>
  </mat-card-actions>
</mat-card>
