.producto-card {
  max-width: 256px;
}

.producto-label {
  font-size: 16px;
}

.producto-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}