.producto-card {
  max-width: 256px;
}

.producto-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.header-input {
  width: 160px;
  display: inline-block;
}
