<mat-card class="producto-card">
  <mat-card-header>
    <div mat-card-avatar class="producto-header-image"></div>
    <mat-card-title>Hamburguesa De Carne</mat-card-title>
    <mat-card-subtitle>HAM001</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
      <label class="producto-label" style="display: block">Ingredientes</label>
      <ul style="display: inline-block; margin-right: 12px; padding-left: 25px">
        <li>Carne</li>
        <li>Pan</li>
        <li>Lechuga</li>
      </ul>
      <ul style="display: inline-block">
        <li>Tomate</li>
        <li>Mayonesa</li>
        <li>Ketchup</li>
      </ul>
      <label class="producto-label" style="display: block;text-align: right">Precio: $12.000</label>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary">EDITAR</button>
  </mat-card-actions>
</mat-card>
