@import '~@angular/material/theming';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$media-host: 'http://localhost:1337';
$images: $media-host + '/images';
$videos: $media-host + '/videos';

$primary-color: mat-color(mat-palette($mat-teal));
$secondary-color: mat-color(mat-palette($mat-grey));
$thirt-color: black;
$warn-color: mat-color(mat-palette($mat-deep-orange));

$teal-color: mat-color(mat-palette($mat-teal));
$grey-color: mat-color(mat-palette($mat-grey));
$deep-orange-color: mat-color(mat-palette($mat-deep-orange));
$amber-color: mat-color(mat-palette($mat-amber));
