
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$media-host: 'http://localhost:1337';
$images: $media-host + '/images';
$videos: $media-host + '/videos';

$primary-color: #009688;
$secondary-color: #555;
$thirt-color: #000;
