.producto-view-mini {
  max-width: 90%;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.producto-image-banner {
  min-height: 148px;
  max-height: 148px;
  background-size: cover;
  background-position: 50% 0;
}
