<mat-card class="producto-view-mini" (click)="onOpenDialog()">
  <img mat-card-image [ngStyle]="{'background-image': 'url(https://media.restaurantetic.com/files/' + producto.imagen + ')'}" class="producto-image-banner">
  <mat-card-header>
      <mat-card-title><b>{{producto.nombre}}</b></mat-card-title>
      <mat-card-subtitle>{{producto.codigo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p><b>Precio:</b> {{producto.precio | currency: 'USD' : 'symbol' : '1.0'}}</p>
  </mat-card-content>
</mat-card>
