<div class="container-fluid" [ngStyle]="{'padding-left': 0, 'padding-right': 0, 'margin-top': '6px'}">
  <div class="row justify-content-center no-gutters">
    <perfect-scrollbar [ngStyle]="{'max-height': screenHeight*0.25 + 'px'}">
      <mat-grid-list class="col-sm-12" cols="6" rowHeight="1:1">
        <mat-grid-tile *ngFor="let mesa of mesas" (click)="onChangeMesa(mesa)" [ngClass]="{'active': mesa.active, 'actual': mesa.actual}">{{mesa.numero}}</mat-grid-tile>
      </mat-grid-list>
    </perfect-scrollbar>
  </div>
</div>
